{% extends 'base.html' %}
{% block title %}
    Home | Boards
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Boards</li>
{% endblock %}
{% block content %}
    <table class="table">
        <thead class='table-dark'>
            <tr>
                <th>Board</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last Post</th>
            </tr>
        </thead>
        <tbody class="table-light table-secondary">
            {% for board in boards %}
                <tr>
                    <td>
                        <span><a href="{% url 'board_topics' board.id %}">{{board.name}}</a></span>
                        <br>
                        <small class="text-muted">{{board.description}}</small>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td>-</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}