{% extends 'base.html' %}
{% block title %}
    Signup
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item active" aria-current="page">Signup</li>
{% endblock %}
{% block content %}
<div class="card mb-4">
    <div class="card-header bg-light ">
        <h2 class="text-secondary">Create your DjangoBoards Account </h2>
    </div>
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type='submit' class='btn btn-primary mt-4 py-2  w-100'>Create Account</button>
        </form>
    </div>
    <div class="card-footer text-muted">
        <p>Already have an account? <a href='#'>Sign in </a> instead</p>
    </div>
</div>

    
{% endblock %}